<html>
<body>
    <table width="100">
        <tr>
            <td style="font-style:normal; color:maroon; font-weight:bold">
                <br>
                <img src=cid:myImageID>
            </td>
        </tr>
    </table>
    <p style='font-size: 20px;font-weight: bolder'>Congratulation! You have been short listed for F2F round interview.</p>

    <div style="font-size: 12px;font-style: normal;font-weight: normal;line-height: 19px;" align="center">
        <a style="text-decoration: underline;transition: opacity 0.1s ease-in;color: #18527c;" href="http://newstein.in/internship.html"><img class="gnd-corner-image gnd-corner-image-center gnd-corner-image-top gnd-corner-image-bottom" style="border: 0;display: block;height: auto;width: 100%;max-width: 768px;" alt="" width="600" src="http://newstein.in/img/InternshipBanner2.jpg"></a>
    </div>

    <!--<p style=''>Our Internship program is a developmental opportunity for Pre-final year and final-year undergraduate students with a passion for technology.</p>-->
    <p style=''>You are requested come to Newstein office for face to face Interview.</p>
    <p>Date: <b>16th June 2018 or 17th June 2018</b> </p>
    <p>Time: <b>11:00 AM to 02:00PM</b> </p>
    <p>Ph: +919599070912</p>
    <p>Email: info@newstein.in</p>
    <p>Address: 3rd Floor, Startup Huts, 27th Main Road, Sector 2, HSR Layout, Bengaluru, Karnataka 560102</p>

    <p style=''><a href='http://newstein.in/careers.html'>WORK AT NEWSTEIN</a></p>
    <p style=''><a href='http://newstein.in'>http://newstein.in</a></p>
    <p><a href='http://newstein.in/careers.html'>http://newstein.in/careers.html</a></p>


    <!--<p style=''><b>Benefits</b></p>-->
    <p style=''><b>After Internship completion you will be provided with following benefits:</b></p>
    <p style='margin-left: 20px'>
        <ul>
            <li>Internship Completion Certificate.</li>
            <li>Opportunity to get Full-time Paid Job with Newstein product division.</li>
            <li>Oppotuinity to be part of Live Industrial Project</li>
        </ul>
    </p>
    <p><b>Please confirm your availability for the interview.</b></p>
    <p style='margin-top: 40px;'>Thanks & Regards</p>
    <p>Newstein HR Team</p>
</body>
</html>