<html>
<body>
    <table width="100">
        <tr>
            <td style="font-style:normal; color:maroon; font-weight:bold">
                <br>
                <img src=cid:myImageID>
            </td>
        </tr>
    </table>
    <p style='font-size: 20px;font-weight: bolder'>Thanks for showing Interest in Newstein.</p>
    <p style=''>As per our discussion over the call, please revert back with the timings suitable for you so that we can fix an appointment with one of our experts for further discussions. </p>
    <p style=''>We are looking forward to meeting you where we will brief you about our training courses and will learn about interest.</p>
<!--<p>In case you are interested to meet us in weekdays, please call us on <b>+91-7619219560</b> or Mail us at <a href="#" mailto="info@newstein.in">info@newstein.in</a></p>-->
    
<p style=''><b>Office Address and Location</b></p>
<p>Startup Huts 3rd floor,#108,Opposite Corner House Above BlackBerry Store </p>
<p>27th Main Road Sec-2 HSR LayOut Bangalore-560102</p>
<a href="https://www.google.co.in/maps/dir/startup+huts/@12.909859,77.5820345,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x3bae149da2c49335:0x95a17a38085e3435!2m2!1d77.652075!2d12.9098683">Office Location</a>
<p style=''><b>Benefits</b></p>
    <p style=''><b>After course completion you will be provided with following benefits:</b></p>
    <p style='margin-left: 20px'>
        <ul>
            <li>Top 20% of students will get paid jobs with Newstein.</li>
            <li>Others will be offered a 3-month internship opportunity with us.</li>
            <li>You will get 6 months working experience letter with Newstein</li>
            <li>Training certificate.</li>
            <li>100% Placement assistance to all.</li>
            <li>Career guidance and Interview preparation.</li>
        </ul>
    </p>

    <p style='text-align: center;padding: 15px 15px;
    background-color: #337ab7;
    border-radius: 4px;
    border-bottom: 3px solid #1c657d;
    margin-bottom: -25px;
    color: #f5f5f5;
    text-decoration: none;
    margin-top: 20px;
    position: initial;
    width: 20%;
    font-weight: bold;margin-left:15%'>
        <a href='http://newstein.in/all-course.html' style='text-align: center;color:white; text-decoration: none; width: 20%;'>Enroll Now</a>
    </p>
<p><b>Training will be provided by the Newstein R&D team and each trainee will get chance to work on Newstein cutting edge products.</b></p>
<p style='margin-top: 40px;'>Thanks & Regards</p>
    <p>Newstein R&D Team</p>
    <p>Ph: +917619219560</p>
    <p>Email: info@newstein.in</p>
</body>
</html>