<html>
<body>
    <table width="100">
        <tr>
            <td style="font-style:normal; color:maroon; font-weight:bold">
                <br>
                <img src=cid:myImageID>
            </td>
        </tr>
    </table>

    <p style='text-align: center;padding: 15px 15px;
    background-color: #337ab7;
    border-radius: 4px;
    border-bottom: 3px solid #1c657d;
    margin-bottom: -25px;
    color: #f5f5f5;
    text-decoration: none;
    margin-top: 20px;
    position: initial;
    width: 20%;
    font-weight: bold;margin-left:15%'>
        <a href='http://newstein.in/all-course.html' style='text-align: center;color:white; text-decoration: none; width: 20%;'>Enroll Now</a>
    </p>

<p style='margin-top: 40px;'>Thanks & Regards</p>
    <p>Newstein R&D Team</p>
    <p>Ph: +917619219560</p>
<p>Email: info@newstein.in</p>
<p>Website: <a href="http://newstein.in">Newstein</a></p>

</body>
</html>