<html>
<body>
    <table width="100">
        <tr>
            <td style="font-style:normal; color:maroon; font-weight:bold">
                <br>
                <img src=cid:myImageID>
            </td>
        </tr>
    </table>
    <p style='font-size: 20px;font-weight: bolder'>Newstein Full Stack Web Development Training with hands-on live projects.</p>
    <p style=''>We at Newstein R&D center are committed to provide software development training based on current trends in industry.</p>
    <p style=''>At Newstein, the courses cover basic to full stack development. This is done through classroom training and live industry projects. </p>
    <p style=''><a href='http://newstein.in/front-end-web-developer-course.html'>Front End Development Course</a></p>
    <p style=''><a href='http://newstein.in/back-end-full-developer-course.html'>Back End Developer Course</a></p>
    <p style=''><a href='http://newstein.in/learn-fullstack-web-development.html'>Full stack Developer Course</a></p>
    <p style=''><b>Benefits</b></p>
    <p style=''><b>After course completion you will be provided with following benefits:</b></p>
    <p style='margin-left: 20px'>
        <ul>
            <li>Full time paid jobs Opportunity with Newstein.</li>
            <li>3 months internship Opportunity with Newstein.</li>
            <li>Training Completion certificate to All</li>
            <li>100% Placement assistance to all.</li>
            <li>Career guidance and Interview preparation.</li>
        </ul>
    </p>

    <p style='text-align: center;padding: 15px 15px;
    background-color: #337ab7;
    border-radius: 4px;
    border-bottom: 3px solid #1c657d;
    margin-bottom: -25px;
    color: #f5f5f5;
    text-decoration: none;
    margin-top: 20px;
    position: initial;
    width: 20%;
    font-weight: bold;margin-left:15%'>
        <a href='http://newstein.in/web-developer-courses.html' style='text-align: center;color:white;text-decoration:none'>Enroll Now</a>
    </p>
    <p><b>Training will be provided by the Newstein R&D team and each trainee will get chance to work on Newstein cutting edge products.</b></p>
    <p style='margin-top: 40px;'>Thanks & Regards</p>
    <p>Newstein R&D Team</p>
    <p>Ph: +919599070912</p>
    <p>Email: info@newstein.in</p>
    <p>Address: 3rd Floor, Startup Huts, 27th Main Road, Sector 2, HSR Layout, Bengaluru, Karnataka 560102</p>
</body>
</html>